body{

  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
          
  }
  h1{
    font-size: 40px;
    font-weight: 900;
  }
  hr{
       
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        padding-top: 20px;
        margin: 20px 0;

  }

 
.weather-container{
  background: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }

.search-input{
    background-color: #f9f7fe;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 80%;
    border-radius: 7px;
  }
  #search-button{
    margin-left: 8px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 7px;
  }

  .weather-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .weather-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; }
    
  .current-weather{
    flex:1;

  }

    @media (max-width: 600px) {
      .weather-container {
        padding: 30px 20px;
      }
    }

  .weather-now{ 
  display: flex;
  align-items: center;
 flex-direction: column;

  }

#weather-icon{
  width: 50px;
  vertical-align: middle;

}
#weather-temperature-value{
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;

}

#weather-temperature-units{
  font-size: 20px;
  vertical-align:super;

}
.weather-conditions{
  text-shadow: 1px 1px 4px rgba(26, 20, 20, 0.1);
  font-weight: 400;
  color: rgb(16, 15, 15, 0.6);
  font-size: 16px; }

#humidity{
  color: red;
}
#wind-speed{
  color: red;
}
.weather-forecast {
  display: flex;
  flex-direction: row;
  gap: 10px;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  max-width: 100%;
}
.weather-forecast::-webkit-scrollbar {
  display: none;
}

.weather-forecast {
  -ms-overflow-style: none;
  
  scrollbar-width: none;
 
}
.weather-forecast-day {
  flex: 0 0 auto;
  width: 100px;
  margin-top: 30px;
 
}
.weather-forecast-date{
  padding: 10px;
 text-align: center;
  color: rgba(39, 33, 66, 0.4 );
  font-size: 16px;
  margin-bottom: 10px
}
.weather-forecast-icon{
 width:88px;
 height:88px;
 display:block;
 justify-content: center;
}
.weather-forecast-temperatures{
  text-align: center;
  margin-top: 30px;
  color: red;
  display:flex;
  justify-content: center;
}
.weather-forecast-temperature{
  padding: 0px 5px;
}

  footer {
    padding-top: 60px;
    text-align:center;
    font-size: 14px;
    color: rgba(136, 93, 241, 0.8);
  }